<!-- Нижнее подчеркивание говорит о том, что этот файл - частичное (partial) представление
рендериться само по себе, но не вставляется в layout-->

<!-- Создаем форму заполнения через руби, т.е. код сам создаст теги и разметку -->
<%= form_with model: @question do |f| %>
  <div>
    <!-- Указываем наименование поля, а так же параметры этого поля: мин. длина, не пустое, плейсхолдер -->
    <%= f.label :title %>
    <%= f.text_field :title, required: true, minlength: 2, placeholder: "Title" %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body, required: true, minlength: 2, placeholder: "Ask your question here" %>
  </div>

  <%= f.submit "Submit question!" %>
<% end %>