<h1 class="mb-4"> Questions</h1>

<%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg' %>

<% @questions.each do |question| %>
  <article class="card mt-3">
    <div class="card-body">
      <h4> <%= question.title  %></h4>

      <section class="card-text">
        <time datetime="<%= question.formatted_created_at %>">
          <small><%= question.formatted_created_at %></small>
        </time>

        <p>
          <%= question.body %>
        </p>
      </section>

        <!-- Форма просмотра -->
        <%= link_to 'Show', question_path(question), class: 'btn btn-primary' %>
        <!-- edit_question_path(@question) - передаем переменную question, чтобы передать параметры из url запроса -->
        <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %>
        <!-- Необходимо помимо пути указать метод HTTP delete, чтобы указать, что надо удалить данные -->
        <%= link_to 'Destroy', question_path(question), class: 'btn btn-danger',
        data: {method: :delete, confirm: "?"} %>
      
    </div>
  </article>
<% end %>

