<% provide :page_title, "#{@question.title}" %>
<% currently_at 'Questions' %>

<h1 class="mb-4"><%= @question.title %></h1>


<time datetime="<%= @question.formatted_created_at %>">
    <%= @question.formatted_created_at %>
</time>

<div class="lead my-3">
    <!-- Добавили обработчик тегов
     sanitize - helper, который позволяет использовать теги только для -->
    <%= sanitize @question.body %>
</div>

<%= link_to 'Show', question_path(@question), class: 'btn btn-primary' %>
<!-- edit_question_path(@question) - передаем переменную question, чтобы передать параметры из url запроса -->
<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %>
<!-- Необходимо помимо пути указать метод HTTP delete, чтобы указать, что надо удалить данные -->
<%= link_to 'Destroy', question_path(@question), class: 'btn btn-danger',
data: {method: :delete, confirm: "?"} %>

<!-- Отображение формы для заполнения ответов -->
<hr class="my-3">

<h2 class="my-3">Write your answer</h2>

<%= render 'answers/form' %>

<!-- Отображение списка объектов -->
<h2 class="mt-5">Answers</h2>

<!-- Убираем за ненадобностью -->
<%# @answers.each do |answer| %>
  <!-- Перенесли в partial _answer, а рендер сам все сделает и отрендерит каждый элемент коллекции -->
<%# end %>
<%= paginate @answers %>

<!-- Уходим от глобального использования @questions, а передаем как локальную переменную -->
<%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question}%>

<%= paginate @answers %>