<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Можно использовать локаьные yield, а потом в нужных местах на них ссылаться с помощью provide -->
    <title><%= full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Отображаем главное меню, которое перенесли в shared/_menu.html.erb-->
    <%= yield :main_menu %>
    <!--Сюда перенесли основное содержание таблицы-->
    <main class="container mt-3">
      <!-- Обработка всплывающий значений по ключу -->
      <% flash.each do |k, v| %>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert'%>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
